<!DOCTYPE html>
<html>
  <head>
    <title>Quiz2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="row">
      <div class="col-3">
        <%= link_to root_path, class: 'logo' do %>
        <div class ="circle">
          <br />
          Welcome
          <br />
        </div>
        <% end %>
      </div>
      <div class ="col-4 slogan">
        The best news headlines around!
      </div>
      <div class="col-5 links">
        <%= link_to 'Add a new story', new_headline_path %>
        <%= link_to 'About', '#' %>
      </div>

    </header>

    <hr />

    <br class="clear">



    <%= yield %>
  </body>
</html>
